.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
  }
/* 
  @media (min-width: 0px) {
    img {
        object-fit: cover;
        width: 100%;
        overflow: hidden;
    }

    form-inline {
        display: block;
    }

}   */

/* @media (min-width: 576px) {
   .form-inline  {
        width: 100%;
        display: block;
    }
} */

  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
    /* img {
        height: 208px;
    } */
  }

  /* @media (min-width: 992px) {
    img {
            height: 300px;
    }
}

  @media (min-width: 1200px) {
    img {
        height: 350px;
    }
  } */

  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron h1 {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }

  .instagram-image {
    display: flex;
    align-items: center;
    object-fit: cover;
}

    .instagram-image img {
        object-fit: cover;
        width: 100%;
        /* overflow: hidden; */
    }

    .loader{
      position: fixed;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      z-index: 9999;
      background: url('../images/ajax-loader.gif') 50% 50% no-repeat;
      display: none;
    }