.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }

    /* img {
        max-width: 100%;
        height: auto;
    } */
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron h1 {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }

  /* #_container-images {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#_container-images img {
 object-fit: cover;
  height: 300px;
  width: 300px;
} */

  img {
    display: block;
    height: 300px;
    width: 300px;
}